<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Profile</p>
    <div class="panel-block">
      <article class="media">
        <div class="media-center">
          <figure class="image is-64x64">
            <%= gravatar_image_tag(@user.email, size: 64, alt: @user.name) %>
          </figure>
        </div>
        <div class="media-content">
          <div class="content">
            <p>
              <strong><%= " " + @user.name %></strong><br/>
              <small><%= " @" + @user.username %></small>
            </p>
          </div>
        </div>
      </article>
    </div>
    <div class="panel-block">
      <div class="level is-mobile">
        <div class="level-item has-centered-text">
          <div>
            <p class="heading">Articles</p>
            <p class="title is-6"><%= @user.article.count %></p>
          </div>
        </div>
      </div>

    </div>
  </nav>
</div>
