<section class="section">
  <div class="container">
    <div class="columns">
      <%= render "users/profile" %>
      <%= render "articles/feed"%>
      <%= render "users/search" %>
    </div>
  </div>
</section>
